cache=true
prefer-offline=true
fund=false
audit=false
loglevel=error
registry=https://registry.npmjs.org/
network-timeout=100000
fetch-retries=3
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
progress=true
engine-strict=true
legacy-peer-deps=false